body {
	direction: rtl;
	background-color: #F2F2F2;
}

h3 {
	position: relative;
	top: 70%;
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}

a:hover {
	text-decoration: none;
}

.Sltr {
	direction: ltr;
}

.navBlue {
	background-color: #706BFF !important;
}

.colorDark {
	background-color: #4A4A4A;
}

.white {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

.twitter {
	display: inline-block;
	color: #fff;
	background-color: #34c5f0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.linkedIn {
	display: inline-block;
	color: #fff;
	background-color: #127cb4;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.facebook {
	display: inline-block;
	color: #fff;
	background-color: #336297;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
}

.twitter:hover {
	color: #fff;
	background-color: #000;
}

.linkedIn:hover {
	color: #fff;
	background-color: #000;
}

.facebook:hover {
	color: #fff;
	background-color: #000;
}

.row .col.detailsImage img{
	width: 70%;
}

.detailsSpan{
	font-size: 12px;
	color: gray;
}

.detailsParagraph{
	width: 80%;
}

        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 057 css*/
        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 073 css*/
        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}