body {
	height: 100vh;
	width: 100vw;
	direction: rtl;
}

.home {
    height: 100vh;
	width: 50vw;
}

.logIn {
	background-color: #43425D;
	outline: 0px;
}

.logIn:hover {
	background-color: #3a3943;
}

.register {
	border: 1px solid #43425D !important;
	color: #43425D;
}

.register:hover {
	background-color: #3a3943;
}

.forgotPass {
	text-decoration: none;
	color: #000;
	direction: ltr;
}